.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  padding: 15px 0;
}
.friendImg {
  width: 100px;
  height: 100px;
  align-items: center;
  margin: 16px auto;
}
.friendName {
  font-size: 30px;
  color: black;
  margin: 0;
}
.friendStatus {
  margin: 0;
}
.online {
  color: green;
  margin: 0;
  font-size: 20px;
}
.offline {
  color: red;
  margin: 0;
  font-size: 20px;
}
